body {
    margin: 0;
    background-color: #1B244A;
    text-align: center;
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-card {
    display: inline-flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */

    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;

    min-width: 120px;
    height: 120px;             
    margin: 20px;

    font-family: 'Cursed Timer ULiL', sans-serif;
}

.add-point {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

}

button {
    border: 2px solid #9AABD8;
    margin:0 auto;
    padding: 10px 10px;
    background-color: transparent;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
                                                
}

#new-game {
    margin: 50px auto;
}


.foulcount {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: #0a0001;
    font-size: 30px;
    color:#F94F6D;

    min-width: 100px;
    height: 50px ;
    /* margin: 10px auto; */

    font-family: 'Cursed Timer ULiL', sans-serif;
}

#new-game > div {  
    /* It selects every div that is a direct child 
    of the element with id="new-game" */
    display: flex; 
    flex-direction: column;
}